# Unity .gitattributes Template

# Define macros (only works in top-level gitattributes files)
[attr]unity-json        eol=lf linguist-language=json
[attr]unity-yaml        merge=unityyamlmerge eol=lf linguist-language=yaml
# Unity source files
*.cginc                 text
*.compute               text linguist-language=hlsl
*.cs                    text diff=csharp
*.hlsl                  text linguist-language=hlsl
*.raytrace              text linguist-language=hlsl
*.shader                text
# Unity JSON files
*.asmdef                unity-json
*.asmref                unity-json
*.index                 unity-json
*.inputactions          unity-json
*.shadergraph           unity-json
*.shadersubgraph        unity-json
# Unity UI Toolkit files
*.tss                   text diff=css linguist-language=css
*.uss                   text diff=css linguist-language=css
*.uxml                  text linguist-language=xml linguist-detectable
# Unity YAML files
*.anim                  unity-yaml
*.asset                 unity-yaml
*.brush                 unity-yaml
*.controller            unity-yaml
*.flare                 unity-yaml
*.fontsettings          unity-yaml
*.giparams              unity-yaml
*.guiskin               unity-yaml
*.lighting              unity-yaml
*.mask                  unity-yaml
*.mat                   unity-yaml
*.meta                  unity-yaml
*.mixer                 unity-yaml
*.overrideController    unity-yaml
*.playable              unity-yaml
*.prefab                unity-yaml
*.preset                unity-yaml
*.renderTexture         unity-yaml
*.scenetemplate         unity-yaml
*.shadervariants        unity-yaml
*.signal                unity-yaml
*.spriteatlas           unity-yaml
*.spriteatlasv2         unity-yaml
*.terrainlayer          unity-yaml
*.unity                 unity-yaml
# "physic" for 3D but "physics" for 2D
*.physicMaterial        unity-yaml
*.physicsMaterial2D     unity-yaml
# Exclude from GitHub stats and diffs: third-party plugins, packages lock file
Assets/Plugins/**           linguist-generated
Packages/packages-lock.json linguist-generated
# Exceptions for .asset files such as lightning pre-baking
LightingData.asset     binary
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.bmp !text !filter !merge !diff
*.tga !text !filter !merge !diff
*.tif !text !filter !merge !diff
*.tiff !text !filter !merge !diff
*.psd !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.exr !text !filter !merge !diff
*.hdr !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.ogg !text !filter !merge !diff
*.aif !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.FBX !text !filter !merge !diff
*.obj !text !filter !merge !diff
*.blend !text !filter !merge !diff
*.dll !text !filter !merge !diff
*.ttf !text !filter !merge !diff
*.otf !text !filter !merge !diff
*.exe !text !filter !merge !diff
*.apk !text !filter !merge !diff
*.pdf !text !filter !merge !diff
*.zip !text !filter !merge !diff
*.rar !text !filter !merge !diff
*.7z !text !filter !merge !diff
